{% extends "layout.html" %}
{% block title %}{{ job_name }}{% endblock %}

{% block body %}

<form action="/{{ machine_id }}" method="POST">
	Machine ID: <span name="machine_id" style="color: #7fffd4">{{ machine_id }}</span>
	--- Last ping: <span class="yellow">{{ last_ping }}</span>
	<div class="box-title">Execute command</div>
	<textarea name="cmd" class="courier-mono green" placeholder="Enter command here..." rows="3" required></textarea>
	<button class="button-success pure-button margin-0 black bold" type="submit">EXECUTE</button>
</form>
<div class="box-title">Pending commands:</div>
<div class="box-content courier-mono green">
	<hr>
	{% for cmd in commands["commands"] %}
	{{ cmd }}
	<hr>
	{% endfor %}
</div>
<div class="box-title">History:</div>
<div class="box-content courier-mono green">
	<hr>
	{% for cmd in history["commands"] %}
	{{ cmd["time"] }} >> <span class="yellow">{{ cmd["cmd"] }}</span>
	<p class="lightblue">{{ cmd["output"] }}</p>
	<hr>
	{% endfor %}
</div>

{% endblock %}